<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="newUserStyleSheet.css">
    <link rel="icon" type="image/gif" href="http://accesssymbol.com/images/img_home.gif" />

</head>
<body>


<div class="container">
    <!--    <form class="previousForm" action="loginpage.html">-->
    <!--        <button class="goBackBtn"> < </button>-->
    <!--&lt;!&ndash;        <button type="button" class="btn btn-primary" id="goBackBtn"> < </button>&ndash;&gt;-->
    <!--    </form>-->
    <form class="newUserForm" action="loginpage.html" method="post">
        <div class="container">
            <div class="form-group">
                <input type="text" class="btn" name="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <input type="text" class="btn" name="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <input type="email" class="btn" name="email" placeholder="UCO Email" required>
            </div>
            <div class="form-group">
                <input type="number" class="btn form-control" name="phoneNumber" placeholder="Phone Number" max="10"
                       required>
                <small id="phoneHelp" class="form-text text-muted">Please use numeric values. </small>
            </div>
            <div class="form-group">
                <input type="text" class="btn form-control" name="licState" placeholder="Vehicle Registration State"
                       max="10" required>
            </div>
            <div class="form-group">
                <input type="text" class="btn" name="licNumber" placeholder="Vehichle Registration ID" minlength="7"
                       maxlength="6" required>
                <small id="licNumHelp" class="form-text text-muted">Please use alpha numeric values.</small>
            </div>
            <div class="form-group">
                <input type="password" class="btn" name="pass" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" class="btn" name="confirmPass" placeholder="Confirm Password" required>
            </div>
        </div>

        <button type="submit" class="btn">SUBMIT</button>
    </form>
</div>

</body>
</html>